h1 {
    color: blue;
    font-weight:100;
}

h2 {
    color: red;
}

a {
    color: red;
    font-weight: 100;
}

a:hover {
    color: blue;
}

.thisclass {
    font-size: x-large;
    color: maroon;
}

.funfact{
    width:fit-content;
    background-color: aqua;
}

#fact1 {
    color:coral;
    font-style: italic;
    text-decoration: line-through;
}
